services:
  mongo:
    image: mongo:7
    container_name: keploy-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express:latest
    container_name: keploy-mongo-express
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    ports:
      - "8081:8081"

  app:
    build: .
    container_name: keploy-rust-app
    ports:
      - "8000:8000"
    environment:
      MONGODB_URI: mongodb://mongo:27017
      MONGODB_DB: keploydb

    env_file:
      - .env
    depends_on:
      - mongo
volumes:
  mongo_data:
